[submodule "lib/smolverse"]
	path = lib/smolverse
	url = git@github.com-treasure:TreasureProject/smolverse-contracts.git
[submodule "lib/bridgeworld"]
	path = lib/bridgeworld
	url = git@github.com-treasure:TreasureProject/bridgeworld-contracts.git
[submodule "lib/treasure-marketplace"]
	path = lib/treasure-marketplace
	url = git@github.com-treasure:TreasureProject/treasure-marketplace-contracts.git
